:root {
    --color-primario: #f0f0f0;
    --color-secundario: #333;
    --fuente: verdana, Geneva, Tahoma;
    --espaciado: 20px;
}
.mi-estilo {
    --color-fuente: #897777;
}
body {
    font-family: var(--fuente);
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: var(--color-primario);
    padding: var(--espaciado);
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-image: linear-gradient(to bottom, #f0f0f0, #777474);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav {
    background-color: #333;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 15px;
    position: relative;
}
nav a {
    color: #fff;
    text-decoration: none;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    list-style: none;
    margin: 0;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
nav li:hover .submenu {
    display: block;
}
.submenu li {
    margin-bottom: 2px;
}
/* .submenu li:hover {
    background-color: #ddd;
} */
.submenu li a:hover {
    color: #333;
    background-color: #eee;
}
.submenu a {
    color: #fff;
    text-decoration: none;
}

/* main {
    display: flex;
    padding: 20px;
} */
.grid-contenedor {
 display: grid;
 grid-template-columns: 2fr 1fr;
 gap: 20px;
 padding: 20px;
}
.main-contenedor {
    background-color: var(--color-primario);
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
section {
    margin-bottom: 30px;
    flex: 2;
}
aside {
    /* flex: 1;
    display: block; */
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    overflow: auto;
    height: fit-content;
}
aside h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
aside li {
    margin-bottom: 8px;
}
aside a {
    text-decoration: none;
    color: #333;
}
h2 {
    border-bottom: 2px solid var(--color-secundario);
    padding-bottom: 10px;
    margin-bottom: 20px;
    
}
.titular-destacado {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #007bff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
}
.titular {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
}
.noticia-destacada {
    display: block;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
}
.anuncio {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.anuncio img {
    max-width: 100%;
    height: auto;
}

.popular-articulo {
    margin-top: 20px;
}
.noticia-destacada img {
    display: block;
    width: 150px;
    height: 100px;
    margin: 5px auto;
    text-align: center;    
}
.noticia-destacada h3 {
    /* display: block; */
    margin-top: 0;
}
.articulo {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
footer {
    background-image: linear-gradient(#f0f0f0, #777474);
    /* background-color: #f0f0f0;*/
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd; 
    line-height: 30px;
}
